<ion-header-bar class="bar-pink">
	<button class="button icon ion-navicon button-clear"></button>
	<h1 class="title">发现</h1>
	<button class="button icon ion-more button-clear"></button>
</ion-header-bar>
<ion-content style="margin-top:-2px;">
	<ion-list class="list">
		<ion-item class="item item-yellow item-avatar item-icon-right" ng-click="openUserLogin();">
			<img ng-src="images/noavatar.png" id="user_avatar">
			<h2 id="title balanced">社交圈</h2>
			<p >您还没有填写签名信息。</p>
			<i class="icon ion-ios-arrow-forward icon-accessory"></i>
		</ion-item>
		<ion-item ng-if="user_status=='is_logined'" class="item item-avatar" ng-click="openUserLogout();">
			<img ng-src="{{user.user_avatar}}">
			<h2>{{user.user_realname}}</h2>
			<p>{{user.user_notes}}</p>
		</ion-item>		
		<ion-item class="item item-divider"></ion-item>
		<ion-item class="item item-icon-left" href="#/tab/company">
			<i class="icon ion-ios-person positive"></i> 单位通讯录
		</ion-item>
		<ion-item class="item item-icon-left" href="#/tab/person">
			<i class="icon ion-ios-gear calm"></i> 个人通讯录
		</ion-item>
		<ion-item class="item item-icon-left" href="#/tab/group">
			<i class="icon ion-ios-flame balanced"></i> 群组通讯录
		</ion-item>
		<ion-item class="item item-divider"></ion-item>
		<!--ion-item class="item item-icon-left" href="#/tab/linkman">
			<i class="icon ion-ios-flag balanced"></i> 常用联系人
		</ion-item>
		<ion-item class="item item-divider"></ion-item-->
	</ion-list>

</ion-content>