<ion-modal-view>
	<ion-header-bar class="bar">
					<div class="buttons">
						<button class="button button-icon icon ion-ios-close-outline" ng-click="closeModal()"></button>
					</div>
					<h1 class="title">发送短信</h1>

				</ion-header-bar>
<ion-content>
	<div id="tip" class="bar bar-loading bar-light fadeInDown animated" style="display:none;">

	</div>
	<ul class="list">
		<ion-item class="item item-divider"></ion-item>
		<li class="item item-input">
			<i class="icon ion-person dark"></i>
			<span class="input-label">&nbsp;&nbsp;用户名</span>
			<input type="text" ng-model="phoneNumber" >
		</li>
		<li class="item item-input">
			<i class="icon ion-ios-keypad dark"></i>
			<span class="input-label">&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码</span>
			<input type="password" name="user_password" id="user_password" value="101116" placeholder="请填写密码">
		</li>

		<li class="item item-checkbox">
			<label class="checkbox checkbox-light">
				<input type="checkbox" name="remember" checked="checked">
			</label>
			下次自动登录
		</li>

	</ul>
	<div class="padding-left padding-right">
		<button class="button button-block button-calm" ng-click="openUserLoginCheck()">
			登 录
		</button>
	</div>
	<ul class="list list-borderless">
		<li class="item item-icon-right" href="#/tab/home/">
			<i class="icon ion-chevron-right icon-accessory"></i> 忘记了密码？点击这里找回。
		</li>
	</ul>

</ion-content>
</ion-modal-view>